
/* PERSONALIZAR */
hr {
    border: 1px solid #cacaca;
}

.actgu-lineas-laterales {
    border-left: 2px solid #cacaca;
    border-right: 2px double #cacaca;
}

.actgu-texto-descriptivo {
    color: #cacaca;
}

.actgu-espacio-en-izq {
    padding-left: 10px;
}

.button.warning {
    background-color: #9b7b50;
    color: #fff;
}
.button.warning:focus,
.button.warning:hover {
    background-color: #7d6340;
    color: #fff;
}

.button.success {
    background-color: #4a7761;
    color: #fff;
}
.button.success:focus,
.button.success:hover {
    background-color: #335243;
    color: #fff;
}

.button.primary {
    background-color: #316588;
    color: #fff;
}
.button.primary:focus,
.button.primary:hover {
    background-color: #1f4258;
    color: #fff;
}

.button.alert {
    background-color: #b14e3f;
    color: #fff;
}
.button.alert:focus,
.button.alert:hover {
    background-color: #7d392e;
    color: #fff;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 2px #5e7350;
}

/* Chrome, Safari, Edge, Opera */
input:disabled::-webkit-outer-spin-button,
input:disabled::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number]:disabled {
  -moz-appearance: textfield;
}

/* ALINEACIÓN */

.actgu-align-center {
    text-align: center;
}

.actgu-align-right {
    text-align: right;
}

.callout.warning {
    background-color: #454545;
    color: #ffffff;
}

.callout.alert {
    background-color: #454545;
    color: #ffffff
}

/* FOOTER and HEADER (NAVBAR) */

.actgu-style-bar,
.actgu-style-bar a,
.actgu-style-bar ul.menu {
    color: white;
    background-color: #5e7350;
}

.actgu-style-bar a:hover {
    color: #1a4200;
}

.actgu-estilo-pie {
    height: 200px;
}

.actgu-tab-text,
.actgu-tab-text:hover,
.actgu-tab-text:focus,
.actgu-tab-text:active {
    color: #5070a9;
}


/* CONTENEDOR */

.actgu-style-modal-loader,
.actgu-style-modal-loader:hover,
.actgu-style-modal-loader:focus,
.actgu-style-modal-loader:active {
    background-color: #ffffff00;
    border-color: #ffffff00;
    outline: none;
}

.actgu-style-modal-loader h3 {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

.actgu-container {
    max-width: 98%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.actgu-box {
    display: list-item;
    height: 350px;
    overflow-y: auto;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0), 2px 2px 2px 2px rgb(0, 0, 0, 0.25);
}

.actgu-box-mdl {
    display: list-item;
    height: 300px;
    overflow-y: auto;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0), 2px 2px 2px 2px rgb(0, 0, 0, 0.25);
}

.actgu-box-mgrp {
    display: list-item;
    height: 235px;
    overflow-y: auto;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0), 2px 2px 2px 2px rgb(0, 0, 0, 0.25);
}

.actgu-box-hvac {
    display: list-item;
    height: 290px;
    overflow-y: auto;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0), 2px 2px 2px 2px rgb(0, 0, 0, 0.25);
}

.actgu-box-hvac-2 {
    display: list-item;
    height: 150px;
    overflow-y: auto;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0), 2px 2px 2px 2px rgb(0, 0, 0, 0.25);
}

.actgu-box-resultado {
    height: 100px;
    overflow-y: auto;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0), 2px 2px 2px 2px rgb(0, 0, 0, 0.25);
}

.actgu-box-ambiente {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    height: 400px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0), 2px 2px 2px 2px rgb(0, 0, 0, 0.25);
}

.actgu-box-fila {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    height: 50px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0), 1px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.actgu-box-titulo {
    display: list-item;
    height: 62px;
    overflow-y: hidden;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0, 0), 2px 2px 2px 2px rgb(0, 0, 0, 0.25);
}


/* AUXILIARES */

.actgu-disappear {
    visibility: hidden;
    display: none;
}

.actgu-no-margins {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.actgu-no-margin-bottom {
    margin-bottom: 0px !important;
}


/* AUXILIARES */

.actgu-es-pasillo {
    background-color: #d1d1d1;
    border: 1px solid #9c9c9c;
    color: #9c9c9c;
}

.actgu-es-pasillo:hover,
.actgu-es-pasillo:focus,
.actgu-es-pasillo:active {
    background-color: #9c9c9c;
    border: 1px solid #fafafa;
    color: #fafafa;
}

.actgu-es-pasillo.disabled,
.actgu-es-pasillo.disabled:hover,
.actgu-es-pasillo.disabled:focus,
.actgu-es-pasillo.disabled:active,
.actgu-es-pasillo[disabled],
.actgu-es-pasillo[disabled]:hover,
.actgu-es-pasillo[disabled]:focus,
.actgu-es-pasillo[disabled]:active {
    background-color: #e3e3e3;
    border: 1px solid #b9b8b8;
    color: #b9b8b8;
}

.actgu-es-pasillo.actgu-btn-occupied {
    background-color: #7d65e9;
    border: 1px solid #403377;
    color: #c3e7ff;
}

.actgu-es-pasillo.actgu-btn-occupied:hover,
.actgu-es-pasillo.actgu-btn-occupied:focus,
.actgu-es-pasillo.actgu-btn-occupied:active {
    background-color: #403377;
    border: 1px solid #282146;
    color: #c3e7ff;
}

.actgu-es-pasillo.actgu-btn-occupied.disabled,
.actgu-es-pasillo.actgu-btn-occupied.disabled:hover,
.actgu-es-pasillo.actgu-btn-occupied.disabled:focus,
.actgu-es-pasillo.actgu-btn-occupied.disabled:active,
.actgu-es-pasillo.actgu-btn-occupied[disabled],
.actgu-es-pasillo.actgu-btn-occupied[disabled]:hover,
.actgu-es-pasillo.actgu-btn-occupied[disabled]:focus,
.actgu-es-pasillo.actgu-btn-occupied[disabled]:active {
    background-color: #000000;
    border: 1px solid #fafafa;
    color: #fafafa;
}

.actgu-es-banca {
    background-color: #a0a0a0;
    border: 1px solid #8a8a8a;
    color: #8a8a8a;
}

.actgu-es-banca:hover,
.actgu-es-banca:focus,
.actgu-es-banca:active {
    background-color: #8a8a8a;
    border: 1px solid #6a6a6a;
    color: #6a6a6a;
}

.actgu-es-banca.disabled,
.actgu-es-banca.disabled:hover,
.actgu-es-banca.disabled:focus,
.actgu-es-banca.disabled:active,
.actgu-es-banca[disabled],
.actgu-es-banca[disabled]:hover,
.actgu-es-banca[disabled]:focus,
.actgu-es-banca[disabled]:active {
    background-color: #5a5a5a;
    border: 1px solid #fafafa;
    color: #fafafa;
}

.actgu-es-banca.actgu-btn-occupied {
    background-color: #1d86cc;
    border: 1px solid #16527a;
    color: #c3e7ff;
}

.actgu-es-banca.actgu-btn-occupied:hover,
.actgu-es-banca.actgu-btn-occupied:focus,
.actgu-es-banca.actgu-btn-occupied:active {
    background-color: #16527a;
    border: 1px solid #071722;
    color: #c3e7ff;
}

.actgu-es-banca.actgu-btn-occupied.disabled,
.actgu-es-banca.actgu-btn-occupied.disabled:hover,
.actgu-es-banca.actgu-btn-occupied.disabled:focus,
.actgu-es-banca.actgu-btn-occupied.disabled:active,
.actgu-es-banca.actgu-btn-occupied[disabled],
.actgu-es-banca.actgu-btn-occupied[disabled]:hover,
.actgu-es-banca.actgu-btn-occupied[disabled]:focus,
.actgu-es-banca.actgu-btn-occupied[disabled]:active {
    background-color: #000000;
    border: 1px solid #fafafa;
    color: #fafafa;
}

.actgu-es-hvac {
    background-color: #e8e8e8;
    border: 1px solid #bfbfbf;
    color: #bfbfbf;
}

.actgu-es-hvac:hover,
.actgu-es-hvac:focus,
.actgu-es-hvac:active {
    background-color: #9f9f9f;
    border: 1px solid #bfbfbf;
    color: #bfbfbf;
}

.actgu-es-hvac.disabled,
.actgu-es-hvac.disabled:hover,
.actgu-es-hvac.disabled:focus,
.actgu-es-hvac.disabled:active,
.actgu-es-hvac[disabled],
.actgu-es-hvac[disabled]:hover,
.actgu-es-hvac[disabled]:focus,
.actgu-es-hvac[disabled]:active {
    background-color: #aaaaaa;
    border: 1px solid #fafafa;
    color: #fafafa;
}

.actgu-es-hvac.actgu-btn-occupied {
    background-color: #159786;
    border: 1px solid #0d5a50;
    color: #a4d6cf;
}

.actgu-es-hvac.actgu-btn-occupied:hover,
.actgu-es-hvac.actgu-btn-occupied:focus,
.actgu-es-hvac.actgu-btn-occupied:active {
    background-color: #0d5a50;
    border: 1px solid #052521;
    color: #a4d6cf;
}

.actgu-es-hvac.actgu-btn-occupied.disabled,
.actgu-es-hvac.actgu-btn-occupied.disabled:hover,
.actgu-es-hvac.actgu-btn-occupied.disabled:focus,
.actgu-es-hvac.actgu-btn-occupied.disabled:active,
.actgu-es-hvac.actgu-btn-occupied[disabled],
.actgu-es-hvac.actgu-btn-occupied[disabled]:hover,
.actgu-es-hvac.actgu-btn-occupied[disabled]:focus,
.actgu-es-hvac.actgu-btn-occupied[disabled]:active {
    background-color: #000000;
    border: 1px solid #fafafa;
    color: #fafafa;
}


/* AUXILIARES */

.actgu-btn-group-free {
    background-color: #bfbfbf;
    border: 1px solid #9f9f9f;
    color: #5f5f5f;
}

.actgu-btn-group-free:hover,
.actgu-btn-group-free:focus,
.actgu-btn-group-free:active {
    background-color: #9f9f9f;
    border: 1px solid #7f7f7f;
    color: #5f5f5f;
}

.actgu-btn-group-free.disabled,
.actgu-btn-group-free.disabled:hover,
.actgu-btn-group-free.disabled:focus,
.actgu-btn-group-free.disabled:active,
.actgu-btn-group-free[disabled],
.actgu-btn-group-free[disabled]:hover,
.actgu-btn-group-free[disabled]:focus,
.actgu-btn-group-free[disabled]:active {
    background-color: #aaaaaa;
    border: 1px solid #fafafa;
    color: #000000;
}

.actgu-btn-group-occupied {
    background-color: #7f7f7f;
    border: 1px solid #5f5f5f;
    color: #2f2f2f;
}

.actgu-btn-group-occupied:hover,
.actgu-btn-group-occupied:focus,
.actgu-btn-group-occupied:active {
    background-color: #5f5f5f;
    border: 1px solid #3f3f3f;
    color: #1f1f1f;
}

.actgu-btn-group-occupied.disabled,
.actgu-btn-group-occupied.disabled:hover,
.actgu-btn-group-occupied.disabled:focus,
.actgu-btn-group-occupied.disabled:active,
.actgu-btn-group-occupied[disabled],
.actgu-btn-group-occupied[disabled]:hover,
.actgu-btn-group-occupied[disabled]:focus,
.actgu-btn-group-occupied[disabled]:active {
    background-color: #4a4a4a;
    border: 1px solid #fafafa;
    color: #000000;
}


/* TABLA */

.actgu-highlight,
tr.actgu-highlight,
.actgu-highlight td {
    background-color: #c1d0b8 !important;
    border-color: #c2dab2 !important;
}

.actgu-row-select {
    background-color: rgba(0, 0, 0, 0.35);
}


/* TAMAÑOS */

.actgu-ctrl-h5-margins {
    margin-bottom: 0pc;
    margin-top: 7px;
}

.actgu-ctrl-icon-fila {
    line-height: normal;
    font-size: 35px;
}

.actgu-align-middle {
    margin: 0 0 1.0rem;
    padding: .5625rem 0.2rem;
}

.actgu-ctrl-label {
    padding-right: 0.2rem !important;
    padding-left: 0.2rem !important;
}

.actgu-ctrl-checkbox {
    margin: 0 0 1.4rem;
}

.actgu-ctrl-selector-multiple {
    height: 75px !important;
}

.actgu-style-img-loader {
    width: 115px;
    height: 95px;
}


/* EFECTOS */

.actgu-box-shadow {
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0), 1px 8px 8px 1px rgba(0, 0, 0, 0.35);
}

.actgu-style-in-the-end {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.actgu-label-truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* INPUT RANGE */

.actgu-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    outline: none;
    background: #fefefe;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    border: 1px solid #cacaca;
    border-radius: 0;
    line-height: 1.5;
    padding: .5rem;
    margin: 0 0 1rem;
}

.actgu-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(25,81,156,1) 0%, rgba(204,75,55,1) 100%);
}

.actgu-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(25,81,156,1) 0%, rgba(204,75,55,1) 100%);
}

.actgu-slider:hover {
    opacity: 1;
}

/* INPUT RANGE - disabled */

.actgu-slider:disabled {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    outline: none;
    background: #cecece;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    border: 1px solid #cacaca;
    border-radius: 0;
    line-height: 1.5;
    padding: .5rem;
    margin: 0 0 1rem;
}

.actgu-slider:disabled::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(25,81,156,1) 0%, rgba(204,75,55,1) 100%);
}

.actgu-slider:disabled::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(25,81,156,1) 0%, rgba(204,75,55,1) 100%);
}

.actgu-div-in-center{
    justify-content: center;
    place-content: center;
}